* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Open Sans", Arial, Sans-serif;
  font-size: 16px; }

header {
  background: url(../img/bg.jpg), #019851;
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat; }
  header .contenedor-logo-menu {
    padding: 25px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4); }
    header .contenedor-logo-menu .logo a {
      display: block; }
      header .contenedor-logo-menu .logo a img {
        vertical-align: top; }
    header .contenedor-logo-menu .menu {
      text-align: right;
      line-height: 50px; }
      header .contenedor-logo-menu .menu a {
        color: #FFF;
        margin-left: 60px;
        font-size: 18px; }
  header .textos {
    color: #FFF;
    text-align: center;
    margin: 200px 0; }
    header .textos .primera-linea,
    header .textos .segunda-linea {
      font-family: "Open Sans", Arial, Sans-serif;
      font-weight: 300; }
    header .textos .primera-linea {
      font-size: 35px;
      line-height: 35px;
      margin-bottom: 30px; }
    header .textos .segunda-linea {
      font-size: 25px;
      line-height: 25px;
      margin-bottom: 60px; }
    header .textos .contenedor-btns a {
      border-radius: 4px;
      border: 2px solid #FFF;
      color: #FFF;
      padding: 12px 0;
      font-weight: 600;
      width: 235px;
      display: inline-block;
      text-align: center;
      margin: 0 10px; }
      header .textos .contenedor-btns a:hover {
        text-decoration: none;
        background: #FFF;
        color: #4f4f4f; }

.main .caracteristicas {
  padding: 70px 0; }
  .main .caracteristicas .titulo {
    text-align: center;
    font-family: "Open Sans", Arial, Sans-Serif;
    font-weight: 300;
    font-size: 32px;
    color: #000;
    margin-bottom: 70px; }
  .main .caracteristicas .caracteristica {
    text-align: center; }
    .main .caracteristicas .caracteristica .icono {
      vertical-align: top;
      margin-bottom: 30px; }
    .main .caracteristicas .caracteristica .primera-linea {
      font-weight: 700;
      margin-bottom: 30px;
      font-size: 20px; }
    .main .caracteristicas .caracteristica .parrafo {
      margin-bottom: 30px;
      line-height: 28px; }
.main .fotos {
  margin-bottom: 70px; }
  .main .fotos .foto {
    margin-bottom: 20px; }
    .main .fotos .foto .thumb img {
      border-radius: 3px;
      width: 100%;
      vertical-align: top; }
    .main .fotos .foto .titulo {
      margin-top: 70px;
      margin-bottom: 40px;
      font-size: 32px;
      line-height: 32px;
      font-weight: 300; }
      .main .fotos .foto .titulo.azul {
        color: #4facd3; }
      .main .fotos .foto .titulo.naranja {
        color: #ddb146; }
    .main .fotos .foto .parrafo {
      line-height: 28px; }
    .main .fotos .foto .derecha {
      text-align: right; }
.main .clientes {
  background: #2d353e;
  padding: 40px 0; }
  .main .clientes .titulo {
    text-align: center;
    font-family: "Open Sans", Arial, Sans-serif;
    font-weight: 300;
    font-size: 32px;
    color: #FFF;
    margin-bottom: 40px; }
  .main .clientes .cliente {
    text-align: center; }
    .main .clientes .cliente a {
      display: block; }

/*# sourceMappingURL=estilos.css.map */
